.product-holder {
  display: flex !important;
  align-items: center;
}
.product-holder img {
  width: 57% !important;
}
.product-holder .product-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product-holder .product-container .product-info-main {
  width: auto;
}
.product-holder .product-container .product-info-main .product-info-price {
  border-bottom: 0;
  display: flex !important;
  flex-direction: column-reverse;
  align-items: flex-start;
}
.product-holder .product-container .product-info-main .product-info-price span.price {
  color: #fc6d20;
  display: block;
  margin-top: 15px;
}
.product-holder .product-container .product-info-main .product-info-price .price-box.price-final_price {
  padding: 0;
  width: auto;
}
.product-holder .product-container .product-info-main .product-info-price .product-info-stock-sku {
  padding: 0;
  text-align: unset;
}
.product-holder .product-container .product-info-main .product-info-price .price-label {
  display: none !important;
}
.product-holder .product-container .product-info-main .product-add-form .fieldset {
  letter-spacing: unset;
}
.product-holder .product-container .product-info-main .product-add-form .fieldset label::after {
  font-size: 2rem;
}
.product-holder .product-container .product-info-main .product-add-form .fieldset label span {
  text-transform: lowercase;
  font-weight: 900;
  font-size: 1.4rem;
}
.product-holder .product-container h2 {
  margin: 0;
  font-size: 2.8rem;
  text-transform: uppercase;
  width: max-content;
  font-weight: bold;
  color: black;
}
.centerize-Element .breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 0;
}
.centerize-Element .breadcrumbs .items a {
  color: #FE6717;
}
.centerize-Element .breadcrumbs .items .item.product strong {
  text-transform: uppercase;
}
